.heading {
  align-self: stretch;
}
.frame,
.heading {
  position: relative;
  line-height: 24px;
}
.button,
.buttonBase,
.footerLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button,
.footerLink {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink {
  align-items: center;
}
.framefooterlinks {
  position: relative;
  line-height: 24px;
}
.button1,
.buttonBase1,
.footerLink1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button1,
.footerLink1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink1 {
  align-items: center;
}
.footerlink {
  position: relative;
  line-height: 24px;
}
.button2,
.buttonBase2,
.footerLink2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button2,
.footerLink2 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink2 {
  align-items: center;
}
.repeatedbuttons {
  position: relative;
  line-height: 24px;
}
.button3,
.buttonBase3,
.footerLink3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button3,
.footerLink3 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink3 {
  align-items: center;
}
.repeatedbuttons1 {
  position: relative;
  line-height: 24px;
}
.buttonBase4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button4,
.footerLink4,
.footerLinks,
.footerLinksColumn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink4,
.footerLinks,
.footerLinksColumn {
  align-items: center;
}
.footerLinks,
.footerLinksColumn {
  flex-direction: column;
  align-items: flex-start;
}
.footerLinks {
  align-self: stretch;
  gap: var(--gap-xs);
  font-family: var(--paragraph-paragraph-16-regular);
}
.footerLinksColumn {
  flex: 1;
  gap: var(--gap-base);
  min-width: 210px;
  max-width: 214px;
}
.heading1 {
  align-self: stretch;
}
.buttonbase,
.heading1 {
  position: relative;
  line-height: 24px;
}
.button5,
.buttonBase5,
.footerLink5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button5,
.footerLink5 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink5 {
  align-items: center;
}
.text {
  position: relative;
  line-height: 24px;
}
.button6,
.buttonBase6,
.footerLink6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button6,
.footerLink6 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink6 {
  align-items: center;
}
.text1 {
  position: relative;
  line-height: 24px;
}
.button7,
.buttonBase7,
.footerLink7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button7,
.footerLink7 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink7 {
  align-items: center;
}
.text2 {
  position: relative;
  line-height: 24px;
}
.button8,
.buttonBase8,
.footerLink8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button8,
.footerLink8 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink8 {
  align-items: center;
}
.text3 {
  position: relative;
  line-height: 24px;
}
.button9,
.buttonBase9,
.footerLink9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button9,
.footerLink9 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink9 {
  align-items: center;
}
.text4 {
  position: relative;
  line-height: 24px;
}
.buttonBase10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button10,
.footerLink10,
.footerLinks1,
.footerLinksColumn1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink10,
.footerLinks1,
.footerLinksColumn1 {
  align-items: center;
}
.footerLinks1,
.footerLinksColumn1 {
  flex-direction: column;
  align-items: flex-start;
}
.footerLinks1 {
  align-self: stretch;
  gap: var(--gap-xs);
  font-family: var(--paragraph-paragraph-16-regular);
}
.footerLinksColumn1 {
  flex: 1;
  gap: var(--gap-base);
  min-width: 210px;
  max-width: 214px;
}
.heading2 {
  align-self: stretch;
}
.button12,
.heading2 {
  position: relative;
  line-height: 24px;
}
.button11,
.buttonBase11,
.footerLink11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button11,
.footerLink11 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink11 {
  align-items: center;
}
.text5 {
  position: relative;
  line-height: 24px;
}
.button13,
.buttonBase12,
.footerLink12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button13,
.footerLink12 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink12 {
  align-items: center;
}
.text6 {
  position: relative;
  line-height: 24px;
}
.button14,
.buttonBase13,
.footerLink13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button14,
.footerLink13 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink13 {
  align-items: center;
}
.buttonBase14 {
  align-self: stretch;
}
.buttonBase14,
.heading3 {
  position: relative;
  line-height: 24px;
}
.linkExternal02Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonBase15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button15,
.footerLink14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink14 {
  align-items: center;
}
.text7 {
  position: relative;
  line-height: 24px;
}
.buttonBase16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button16,
.footerLink15,
.footerLinks2,
.footerLinksColumn2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink15,
.footerLinks2,
.footerLinksColumn2 {
  align-items: center;
}
.footerLinks2,
.footerLinksColumn2 {
  flex-direction: column;
  align-items: flex-start;
}
.footerLinks2 {
  align-self: stretch;
  gap: var(--gap-xs);
  font-family: var(--paragraph-paragraph-16-regular);
}
.footerLinksColumn2 {
  flex: 1;
  gap: var(--gap-base);
  min-width: 210px;
  max-width: 214px;
}
.heading4 {
  align-self: stretch;
}
.heading4,
.paymentMethodIcon {
  position: relative;
  line-height: 24px;
}
.button17,
.buttonBase17,
.footerLink16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button17,
.footerLink16 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink16 {
  align-items: center;
}
.text8 {
  position: relative;
  line-height: 24px;
}
.button18,
.buttonBase18,
.footerLink17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button18,
.footerLink17 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink17 {
  align-items: center;
}
.text9 {
  position: relative;
  line-height: 24px;
}
.buttonBase19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button19,
.footerLink18,
.footerLinks3,
.footerLinksColumn3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink18,
.footerLinks3,
.footerLinksColumn3 {
  align-items: center;
}
.footerLinks3,
.footerLinksColumn3 {
  flex-direction: column;
  align-items: flex-start;
}
.footerLinks3 {
  align-self: stretch;
  gap: var(--gap-xs);
  font-family: var(--paragraph-paragraph-16-regular);
}
.footerLinksColumn3 {
  flex: 1;
  gap: var(--gap-base);
  min-width: 210px;
  max-width: 214px;
}
.heading5 {
  align-self: stretch;
}
.heading5,
.text10 {
  position: relative;
  line-height: 24px;
}
.button20,
.buttonBase20,
.footerLink19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button20,
.footerLink19 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink19 {
  align-items: center;
}
.text11 {
  position: relative;
  line-height: 24px;
}
.button21,
.buttonBase21,
.footerLink20 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button21,
.footerLink20 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink20 {
  align-items: center;
}
.text12 {
  position: relative;
  line-height: 24px;
}
.button22,
.buttonBase22,
.footerLink21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button22,
.footerLink21 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink21 {
  align-items: center;
}
.text13 {
  position: relative;
  line-height: 24px;
}
.button23,
.buttonBase23,
.footerLink22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button23,
.footerLink22 {
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLink22 {
  align-items: center;
}
.text14 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.buttonBase24 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button24,
.footerLink23 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button24 {
  flex: 1;
  align-items: flex-start;
}
.footerLink23 {
  align-self: stretch;
  align-items: center;
}
.footerLinks4,
.footerLinksColumn4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLinks4 {
  align-self: stretch;
  gap: var(--gap-xs);
  font-family: var(--paragraph-paragraph-16-regular);
}
.footerLinksColumn4 {
  flex: 1;
  gap: var(--gap-base);
  min-width: 210px;
  max-width: 214px;
}
.container,
.content {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.content {
  width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-13xl);
}
.container {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--paragraph-paragraph-16-regular-size);
  color: var(--color-white);
  font-family: var(--paragraph-paragraph-16-bold);
}
@media screen and (max-width: 750px) {
  .content {
    gap: var(--gap-13xl);
  }
  .container {
    gap: var(--gap-29xl);
  }
}
