.heading,
.heading1 {
  align-self: stretch;
  position: relative;
}
.heading {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.heading1 {
  height: 168px;
  font-size: var(--paragraph-paragraph-18-regular-size);
  line-height: 28px;
  display: inline-block;
}
.tZILOGOISTRAbijelap {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 351px;
  max-width: 100%;
}
.footerlinkscolumnIcon {
  width: 580px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.tZILOGOISTRAbijelapParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-heading-4-size);
  color: var(--neutrals-body);
  font-family: var(--paragraph-paragraph-16-regular);
}
@media screen and (max-width: 1200px) {
  .tZILOGOISTRAbijelapParent {
    gap: var(--gap-61xl);
  }
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .footerlinkscolumnIcon {
    flex: 1;
  }
  .tZILOGOISTRAbijelapParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .tZILOGOISTRAbijelapParent {
    gap: var(--gap-61xl);
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--paragraph-paragraph-18-regular-size);
    line-height: 22px;
  }
  .tZILOGOISTRAbijelap {
    min-width: 100%;
  }
}
